docker-compose-setup/node_red/config/flows.json
[
  {
    "id": "bc561b1b.9eb418",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "e5722cbd.21e67",
    "type": "comment",
    "z": "bc561b1b.9eb418",
    "name": "grafana-dashboard.yml",
    "info": "{\n  \"annotations\": {\n    \"list\": [\n      {\n        \"builtIn\": 1,\n        \"datasource\": \"-- Grafana --\",\n        \"enable\": true,\n        \"hide\": true,\n        \"iconColor\": \"rgba(0, 211, 255, 1)\",\n        \"name\": \"Annotations & Alerts\",\n        \"type\": \"dashboard\"\n      }\n    ]\n  },\n  \"editable\": true,\n  \"gnetId\": null,\n  \"graphTooltip\": 0,\n  \"id\": 1,\n  \"links\": [],\n  \"panels\": [\n    {\n      \"aliasColors\": {\n        \"Temperature.mean\": \"light-red\"\n      },\n      \"bars\": false,\n      \"dashLength\": 10,\n      \"dashes\": false,\n      \"datasource\": \"InfluxDB\",\n      \"fieldConfig\": {\n        \"defaults\": {\n          \"custom\": {},\n          \"unit\": \"celsius\"\n        },\n        \"overrides\": []\n      },\n      \"fill\": 0,\n      \"fillGradient\": 0,\n      \"gridPos\": {\n        \"h\": 12,\n        \"w\": 12,\n        \"x\": 0,\n        \"y\": 0\n      },\n      \"hiddenSeries\": false,\n      \"id\": 6,\n      \"legend\": {\n        \"avg\": false,\n        \"current\": false,\n        \"max\": false,\n        \"min\": false,\n        \"show\": true,\n        \"total\": false,\n        \"values\": false\n      },\n      \"lines\": true,\n      \"linewidth\": 1,\n      \"nullPointMode\": \"null\",\n      \"options\": {\n        \"alertThreshold\": true\n      },\n      \"percentage\": false,\n      \"pluginVersion\": \"7.4.3\",\n      \"pointradius\": 2,\n      \"points\": false,\n      \"renderer\": \"flot\",\n      \"seriesOverrides\": [],\n      \"spaceLength\": 10,\n      \"stack\": false,\n      \"steppedLine\": false,\n      \"targets\": [\n        {\n          \"groupBy\": [\n            {\n              \"params\": [\n                \"$__interval\"\n              ],\n              \"type\": \"time\"\n            },\n            {\n              \"params\": [\n                \"none\"\n              ],\n              \"type\": \"fill\"\n            }\n          ],\n          \"measurement\": \"Temperature\",\n          \"orderByTime\": \"ASC\",\n          \"policy\": \"default\",\n          \"queryType\": \"randomWalk\",\n          \"refId\": \"A\",\n          \"resultFormat\": \"time_series\",\n          \"select\": [\n            [\n              {\n                \"params\": [\n                  \"value\"\n                ],\n                \"type\": \"field\"\n              },\n              {\n                \"params\": [],\n                \"type\": \"mean\"\n              }\n            ]\n          ],\n          \"tags\": []\n        }\n      ],\n      \"thresholds\": [],\n      \"timeFrom\": null,\n      \"timeRegions\": [],\n      \"timeShift\": null,\n      \"title\": \"Ambient Temperature\",\n      \"tooltip\": {\n        \"shared\": true,\n        \"sort\": 0,\n        \"value_type\": \"individual\"\n      },\n      \"type\": \"graph\",\n      \"xaxis\": {\n        \"buckets\": null,\n        \"mode\": \"time\",\n        \"name\": null,\n        \"show\": true,\n        \"values\": []\n      },\n      \"yaxes\": [\n        {\n          \"format\": \"celsius\",\n          \"label\": null,\n          \"logBase\": 1,\n          \"max\": \"40\",\n          \"min\": \"-10\",\n          \"show\": true\n        },\n        {\n          \"format\": \"short\",\n          \"label\": null,\n          \"logBase\": 1,\n          \"max\": null,\n          \"min\": null,\n          \"show\": true\n        }\n      ],\n      \"yaxis\": {\n        \"align\": false,\n        \"alignLevel\": null\n      }\n    },\n    {\n      \"aliasColors\": {\n        \"Lux.mean\": \"light-yellow\"\n      },\n      \"bars\": false,\n      \"dashLength\": 10,\n      \"dashes\": false,\n      \"datasource\": \"InfluxDB\",\n      \"description\": \"A random MQTT Lux value taken from a public Mosquitto-MQTT-Broker.\",\n      \"fieldConfig\": {\n        \"defaults\": {\n          \"custom\": {},\n          \"unit\": \"pressurembar\"\n        },\n        \"overrides\": []\n      },\n      \"fill\": 0,\n      \"fillGradient\": 0,\n      \"gridPos\": {\n        \"h\": 23,\n        \"w\": 12,\n        \"x\": 12,\n        \"y\": 0\n      },\n      \"hiddenSeries\": false,\n      \"id\": 2,\n      \"legend\": {\n        \"avg\": false,\n        \"current\": false,\n        \"max\": false,\n        \"min\": false,\n        \"show\": true,\n        \"total\": false,\n        \"values\": false\n      },\n      \"lines\": true,\n      \"linewidth\": 1,\n      \"nullPointMode\": \"null\",\n      \"options\": {\n        \"alertThreshold\": true\n      },\n      \"percentage\": false,\n      \"pluginVersion\": \"7.4.3\",\n      \"pointradius\": 2,\n      \"points\": false,\n      \"renderer\": \"flot\",\n      \"seriesOverrides\": [],\n      \"spaceLength\": 10,\n      \"stack\": false,\n      \"steppedLine\": false,\n      \"targets\": [\n        {\n          \"groupBy\": [\n            {\n              \"params\": [\n                \"$__interval\"\n              ],\n              \"type\": \"time\"\n            },\n            {\n              \"params\": [\n                \"none\"\n              ],\n              \"type\": \"fill\"\n            }\n          ],\n          \"measurement\": \"Air_Pressure\",\n          \"orderByTime\": \"ASC\",\n          \"policy\": \"default\",\n          \"queryType\": \"randomWalk\",\n          \"refId\": \"A\",\n          \"resultFormat\": \"time_series\",\n          \"select\": [\n            [\n              {\n                \"params\": [\n                  \"value\"\n                ],\n                \"type\": \"field\"\n              },\n              {\n                \"params\": [],\n                \"type\": \"mean\"\n              }\n            ]\n          ],\n          \"tags\": []\n        }\n      ],\n      \"thresholds\": [],\n      \"timeFrom\": null,\n      \"timeRegions\": [],\n      \"timeShift\": null,\n      \"title\": \"Air Pressure\",\n      \"tooltip\": {\n        \"shared\": true,\n        \"sort\": 0,\n        \"value_type\": \"individual\"\n      },\n      \"type\": \"graph\",\n      \"xaxis\": {\n        \"buckets\": null,\n        \"mode\": \"time\",\n        \"name\": null,\n        \"show\": true,\n        \"values\": []\n      },\n      \"yaxes\": [\n        {\n          \"format\": \"pressurembar\",\n          \"label\": null,\n          \"logBase\": 1,\n          \"max\": null,\n          \"min\": null,\n          \"show\": true\n        },\n        {\n          \"format\": \"short\",\n          \"label\": null,\n          \"logBase\": 1,\n          \"max\": null,\n          \"min\": null,\n          \"show\": true\n        }\n      ],\n      \"yaxis\": {\n        \"align\": false,\n        \"alignLevel\": null\n      }\n    },\n    {\n      \"aliasColors\": {\n        \"Humidity.mean\": \"dark-blue\"\n      },\n      \"bars\": false,\n      \"dashLength\": 10,\n      \"dashes\": false,\n      \"datasource\": \"InfluxDB\",\n      \"fieldConfig\": {\n        \"defaults\": {\n          \"custom\": {},\n          \"unit\": \"humidity\"\n        },\n        \"overrides\": []\n      },\n      \"fill\": 0,\n      \"fillGradient\": 0,\n      \"gridPos\": {\n        \"h\": 11,\n        \"w\": 12,\n        \"x\": 0,\n        \"y\": 12\n      },\n      \"hiddenSeries\": false,\n      \"id\": 4,\n      \"legend\": {\n        \"avg\": false,\n        \"current\": false,\n        \"max\": false,\n        \"min\": false,\n        \"show\": true,\n        \"total\": false,\n        \"values\": false\n      },\n      \"lines\": true,\n      \"linewidth\": 1,\n      \"nullPointMode\": \"null\",\n      \"options\": {\n        \"alertThreshold\": true\n      },\n      \"percentage\": false,\n      \"pluginVersion\": \"7.4.3\",\n      \"pointradius\": 2,\n      \"points\": false,\n      \"renderer\": \"flot\",\n      \"seriesOverrides\": [],\n      \"spaceLength\": 10,\n      \"stack\": false,\n      \"steppedLine\": false,\n      \"targets\": [\n        {\n          \"groupBy\": [\n            {\n              \"params\": [\n                \"$__interval\"\n              ],\n              \"type\": \"time\"\n            },\n            {\n              \"params\": [\n                \"none\"\n              ],\n              \"type\": \"fill\"\n            }\n          ],\n          \"measurement\": \"Humidity\",\n          \"orderByTime\": \"ASC\",\n          \"policy\": \"default\",\n          \"queryType\": \"randomWalk\",\n          \"refId\": \"A\",\n          \"resultFormat\": \"time_series\",\n          \"select\": [\n            [\n              {\n                \"params\": [\n                  \"value\"\n                ],\n                \"type\": \"field\"\n              },\n              {\n                \"params\": [],\n                \"type\": \"mean\"\n              }\n            ]\n          ],\n          \"tags\": []\n        }\n      ],\n      \"thresholds\": [],\n      \"timeFrom\": null,\n      \"timeRegions\": [],\n      \"timeShift\": null,\n      \"title\": \"Ambient Air Humidity\",\n      \"tooltip\": {\n        \"shared\": true,\n        \"sort\": 0,\n        \"value_type\": \"individual\"\n      },\n      \"type\": \"graph\",\n      \"xaxis\": {\n        \"buckets\": null,\n        \"mode\": \"time\",\n        \"name\": null,\n        \"show\": true,\n        \"values\": []\n      },\n      \"yaxes\": [\n        {\n          \"format\": \"humidity\",\n          \"label\": null,\n          \"logBase\": 1,\n          \"max\": \"100\",\n          \"min\": \"0\",\n          \"show\": true\n        },\n        {\n          \"format\": \"short\",\n          \"label\": null,\n          \"logBase\": 1,\n          \"max\": null,\n          \"min\": null,\n          \"show\": true\n        }\n      ],\n      \"yaxis\": {\n        \"align\": false,\n        \"alignLevel\": null\n      }\n    }\n  ],\n  \"refresh\": \"5s\",\n  \"schemaVersion\": 27,\n  \"style\": \"dark\",\n  \"tags\": [],\n  \"templating\": {\n    \"list\": []\n  },\n  \"time\": {\n    \"from\": \"now-5m\",\n    \"to\": \"now\"\n  },\n  \"timepicker\": {},\n  \"timezone\": \"\",\n  \"title\": \"IoT Showcase\",\n  \"uid\": \"82UcjByGk\",\n  \"version\": 1\n}",
    "x": 140,
    "y": 460,
    "wires": []
  },
  {
    "id": "6173a3e.85b1d5c",
    "type": "comment",
    "z": "bc561b1b.9eb418",
    "name": "Colleclting machine data",
    "info": "",
    "x": 150,
    "y": 80,
    "wires": []
  },
  {
    "id": "d0f36e56.b8bc6",
    "type": "comment",
    "z": "bc561b1b.9eb418",
    "name": "Converting data",
    "info": "",
    "x": 540,
    "y": 80,
    "wires": []
  },
  {
    "id": "b2d12ac8.b75a98",
    "type": "comment",
    "z": "bc561b1b.9eb418",
    "name": "Send SMS Notification",
    "info": "",
    "x": 1080,
    "y": 260,
    "wires": []
  },
  {
    "id": "75b0fa2f.af6e14",
    "type": "comment",
    "z": "bc561b1b.9eb418",
    "name": "Push data to time-series-db",
    "info": "",
    "x": 1100,
    "y": 80,
    "wires": []
  },
  {
    "id": "8e8d8bab.09b7c8",
    "type": "mqtt in",
    "z": "bc561b1b.9eb418",
    "name": "",
    "topic": "weather/us/va/KVAWARMS2/loop",
    "qos": "0",
    "datatype": "auto",
    "broker": "84937a66.e83d78",
    "x": 170,
    "y": 160,
    "wires": [["d1ccd6fb.8b7c48", "60a86025.9013"]]
  },
  {
    "id": "9090b233.1ac4c",
    "type": "delay",
    "z": "bc561b1b.9eb418",
    "name": "max. 1 pro 5min",
    "pauseType": "rate",
    "timeout": "5",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "5",
    "rateUnits": "minute",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "x": 840,
    "y": 300,
    "wires": [["7ad210f7.e4873"]]
  },
  {
    "id": "d1ccd6fb.8b7c48",
    "type": "function",
    "z": "bc561b1b.9eb418",
    "name": "Parse JSON for InfluxDB",
    "func": "msg.payload = JSON.parse(msg.payload)\n\ndb_msg_1 = {};\ndb_msg_1.measurement = \"Temperature\"\ndb_msg_1.payload = Math.floor((parseFloat(msg.payload['outTemp_F'])-32)*5/9*10)/10;\n\ndb_msg_2 = {};\ndb_msg_2.measurement = \"Humidity\"\ndb_msg_2.payload = Math.floor(parseFloat(msg.payload['outHumidity'])*10)/10;\n\n\ndb_msg_3 = {};\ndb_msg_3.measurement = \"Air_Pressure\"\ndb_msg_3.payload = Math.floor(parseFloat(msg.payload['pressure_inHg'])*33.864*10)/10;\n\nalarm_msg = {};\nalarm_msg.payload = \"Nachricht vom Demoserver: Temperatur ist \" + db_msg_1.payload + \" °C // Feuchtigkeit ist \" + db_msg_2.payload + \" %rF // Luftdruck ist \" + db_msg_3.payload + \" mbar.\";\n\nreturn [db_msg_1, db_msg_2, db_msg_3, alarm_msg];",
    "outputs": 4,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 570,
    "y": 160,
    "wires": [["a466d66f.6d5778"], ["a466d66f.6d5778"], [], ["9090b233.1ac4c"]],
    "outputLabels": ["msg1", "", "", ""]
  },
  {
    "id": "60a86025.9013",
    "type": "debug",
    "z": "bc561b1b.9eb418",
    "name": "",
    "active": false,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 530,
    "y": 440,
    "wires": []
  },
  {
    "id": "43e1270.f7732d8",
    "type": "comment",
    "z": "bc561b1b.9eb418",
    "name": "Debugging",
    "info": "",
    "x": 540,
    "y": 400,
    "wires": []
  },
  {
    "id": "bd059c36.f4178",
    "type": "comment",
    "z": "bc561b1b.9eb418",
    "name": "Flow OPC-Data-Import",
    "info": "[\n    {\n        \"id\": \"5a4bc84e.8c0ba8\",\n        \"type\": \"tab\",\n        \"label\": \"OPC Datenarchivierung\",\n        \"disabled\": false,\n        \"info\": \"\"\n    },\n    {\n        \"id\": \"bf7c460c.9a38d8\",\n        \"type\": \"inject\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"Subscribe\",\n        \"props\": [\n            {\n                \"p\": \"timestamp\",\n                \"v\": \"\",\n                \"vt\": \"date\"\n            },\n            {\n                \"p\": \"action\",\n                \"v\": \"subscribe\",\n                \"vt\": \"str\"\n            }\n        ],\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"onceDelay\": 0.1,\n        \"topic\": \"\",\n        \"payloadType\": \"str\",\n        \"x\": 100,\n        \"y\": 100,\n        \"wires\": [\n            [\n                \"df1e1df4.4e814\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"fa05d1d2.ee50b\",\n        \"type\": \"inject\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"Deletesubscription\",\n        \"props\": [\n            {\n                \"p\": \"timestamp\",\n                \"v\": \"\",\n                \"vt\": \"date\"\n            },\n            {\n                \"p\": \"action\",\n                \"v\": \"deletesubscription\",\n                \"vt\": \"str\"\n            }\n        ],\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"onceDelay\": 0.1,\n        \"topic\": \"\",\n        \"x\": 130,\n        \"y\": 180,\n        \"wires\": [\n            [\n                \"df1e1df4.4e814\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"97ae254a.363d88\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"OPC to influxdb msg-object conversion\",\n        \"func\": \"msg.payload = parseFloat(msg.payload);\\nmsg.measurement = msg.topic;\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 1330,\n        \"y\": 160,\n        \"wires\": [\n            [\n                \"e1a5d6ce.0e7838\",\n                \"33874933.5636c6\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"33874933.5636c6\",\n        \"type\": \"influxdb out\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"influxdb\": \"8bb75afe.196ef8\",\n        \"name\": \"\",\n        \"measurement\": \"\",\n        \"precision\": \"\",\n        \"retentionPolicy\": \"\",\n        \"database\": \"\",\n        \"retentionPolicyV18Flux\": \"\",\n        \"org\": \"\",\n        \"bucket\": \"\",\n        \"x\": 1900,\n        \"y\": 160,\n        \"wires\": []\n    },\n    {\n        \"id\": \"e1a5d6ce.0e7838\",\n        \"type\": \"msg-speed\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"Message-Frequency\",\n        \"frequency\": \"min\",\n        \"interval\": 1,\n        \"estimation\": true,\n        \"ignore\": true,\n        \"x\": 1380,\n        \"y\": 240,\n        \"wires\": [\n            [],\n            []\n        ]\n    },\n    {\n        \"id\": \"35335956.7928e6\",\n        \"type\": \"debug\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"\",\n        \"active\": false,\n        \"tosidebar\": true,\n        \"console\": false,\n        \"tostatus\": false,\n        \"complete\": \"true\",\n        \"targetType\": \"full\",\n        \"statusVal\": \"\",\n        \"statusType\": \"auto\",\n        \"x\": 1830,\n        \"y\": 100,\n        \"wires\": []\n    },\n    {\n        \"id\": \"3d91ec1a.8d05f4\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"post processing\",\n        \"func\": \"\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 1200,\n        \"y\": 100,\n        \"wires\": [\n            [\n                \"35335956.7928e6\",\n                \"97ae254a.363d88\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"a3b39f8a.be4f3\",\n        \"type\": \"comment\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"Zenit-Sensor\",\n        \"info\": \"\",\n        \"x\": 610,\n        \"y\": 60,\n        \"wires\": []\n    },\n    {\n        \"id\": \"f67a3b4.85cb4c8\",\n        \"type\": \"comment\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"TKP\",\n        \"info\": \"\",\n        \"x\": 590,\n        \"y\": 340,\n        \"wires\": []\n    },\n    {\n        \"id\": \"e4eb9643.bd6f28\",\n        \"type\": \"comment\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"Obertage\",\n        \"info\": \"\",\n        \"x\": 600,\n        \"y\": 1260,\n        \"wires\": []\n    },\n    {\n        \"id\": \"4c8eadc3.35f774\",\n        \"type\": \"comment\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"Fernwärme\",\n        \"info\": \"\",\n        \"x\": 610,\n        \"y\": 700,\n        \"wires\": []\n    },\n    {\n        \"id\": \"4f04420b.f0bebc\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAC01KP002/Einlassdruck\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAC01KP002/Einlassdruck.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 660,\n        \"y\": 100,\n        \"wires\": [\n            [\n                \"3f210e6f.cfcf22\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"a019bebe.2f60b\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAC01KP002/Motortemp\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAC01KP002/Motortemp.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 650,\n        \"y\": 140,\n        \"wires\": [\n            [\n                \"fc17aa0e.008ef8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"d7bce471.6b21d8\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAC01KP002/Einlasstemp\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAC01KP002/Einlasstemp.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 660,\n        \"y\": 180,\n        \"wires\": [\n            [\n                \"f64faa6a.fc8fa8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"c46be57.2b12b18\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAC01KP002/Vibration_Y\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAC01KP002/Vibration_Y.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 650,\n        \"y\": 220,\n        \"wires\": [\n            [\n                \"ba891161.e79f1\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"d57ed853.de7bd8\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAC01KP002/Vibration_X\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAC01KP002/Vibration_X.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 650,\n        \"y\": 260,\n        \"wires\": [\n            [\n                \"f3add57e.e2e298\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"61c5eb72.99fdc4\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAC01KP001/CosPi\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAC01KP001/CosPi.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 640,\n        \"y\": 380,\n        \"wires\": [\n            [\n                \"6c672a4b.1b2ec4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"289916d.63667ea\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAC01KP001/FU\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAC01KP001/FU.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 630,\n        \"y\": 420,\n        \"wires\": [\n            [\n                \"7dfea5c4.ea2b6c\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"20514e87.19b922\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAC01KP001/Leistung\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAC01KP001/Leistung.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 650,\n        \"y\": 460,\n        \"wires\": [\n            [\n                \"b3899b44.6cae98\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"d35539e3.489998\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAC01KP001/Spannung\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAC01KP001/Spannung.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 650,\n        \"y\": 500,\n        \"wires\": [\n            [\n                \"878fd9de.3cd088\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"52be6f44.2204b\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAC01KP001/Strom_U\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAC01KP001/Strom_U.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 650,\n        \"y\": 540,\n        \"wires\": [\n            [\n                \"acaffde3.dbe9\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"2d35d07.6dc323\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAC01KP001/Strom_V\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAC01KP001/Strom_V.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 650,\n        \"y\": 580,\n        \"wires\": [\n            [\n                \"c1b0d3d5.6013d\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"b5fd87cb.6b3de8\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAC01KP001/Strom_W\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAC01KP001/Strom_W.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 650,\n        \"y\": 620,\n        \"wires\": [\n            [\n                \"544bce73.55622\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"e276baaa.ce00f8\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAA09CP011/XQ01 Druck ThWa Vorl\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAA09CP011/XQ01.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 690,\n        \"y\": 1300,\n        \"wires\": [\n            [\n                \"66b189e7.2f0bc8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"b2fde684.454c58\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"NDD02DT001/ReglerSekWaerme\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:NDD02DT001/ReglerSekWaerme.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 680,\n        \"y\": 740,\n        \"wires\": [\n            [\n                \"84487812.688fc8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"f03d2a3d.573708\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"WMZ_GWO110/XQ04 Leistung\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:WMZ_GWO110/XQ04.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 670,\n        \"y\": 780,\n        \"wires\": [\n            [\n                \"54e2da75.f5bac4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"fb47aeb6.8d8f8\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"WMZ_GWO110/XQ02 Durchfluss\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:WMZ_GWO110/XQ02.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 680,\n        \"y\": 820,\n        \"wires\": [\n            [\n                \"80b8faa0.a3a808\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"3347815f.9050ae\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"WMZ_GWO110/XQ05 Vorlauftemp\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:WMZ_GWO110/XQ05.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 680,\n        \"y\": 860,\n        \"wires\": [\n            [\n                \"377a5dc7.08b3d2\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"7b05e566.90571c\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"WMZ_GWO110/XQ06 Rücklauftemp\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:WMZ_GWO110/XQ06.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 690,\n        \"y\": 900,\n        \"wires\": [\n            [\n                \"2b30bb67.644f34\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"3f210e6f.cfcf22\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"subscribe\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": \"1\",\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 100,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"fc17aa0e.008ef8\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"subscribe\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": \"1\",\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 140,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"f64faa6a.fc8fa8\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"subscribe\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": \"1\",\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 180,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"ba891161.e79f1\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"subscribe\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": \"1\",\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 220,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"f3add57e.e2e298\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"subscribe\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": \"1\",\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 260,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"6c672a4b.1b2ec4\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 380,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"7dfea5c4.ea2b6c\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 420,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"b3899b44.6cae98\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"subscribe\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": \"1\",\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 460,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"878fd9de.3cd088\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 500,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"acaffde3.dbe9\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 540,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"c1b0d3d5.6013d\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 580,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"544bce73.55622\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 620,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"66b189e7.2f0bc8\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 1300,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"84487812.688fc8\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 740,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"54e2da75.f5bac4\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"subscribe\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": \"1\",\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 780,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"80b8faa0.a3a808\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 820,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"377a5dc7.08b3d2\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 860,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"2b30bb67.644f34\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 900,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"df1e1df4.4e814\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"pre processing\",\n        \"func\": \"\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 400,\n        \"y\": 100,\n        \"wires\": [\n            [\n                \"4f04420b.f0bebc\",\n                \"a019bebe.2f60b\",\n                \"d7bce471.6b21d8\",\n                \"c46be57.2b12b18\",\n                \"d57ed853.de7bd8\",\n                \"61c5eb72.99fdc4\",\n                \"289916d.63667ea\",\n                \"20514e87.19b922\",\n                \"d35539e3.489998\",\n                \"52be6f44.2204b\",\n                \"2d35d07.6dc323\",\n                \"b5fd87cb.6b3de8\",\n                \"e276baaa.ce00f8\",\n                \"b2fde684.454c58\",\n                \"f03d2a3d.573708\",\n                \"fb47aeb6.8d8f8\",\n                \"3347815f.9050ae\",\n                \"7b05e566.90571c\",\n                \"9aa2ee54.e3557\",\n                \"4d7aea0d.579f54\",\n                \"93219734.a87c48\",\n                \"34b20cf9.286144\",\n                \"54481e34.cb81d\",\n                \"3c8cf64e.43579a\",\n                \"a03554e9.3e1918\",\n                \"56b0dbcd.8fc064\",\n                \"d42bd4d0.2c0da8\",\n                \"91a7572d.cac6e8\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"d6ccd023.dabf6\",\n        \"type\": \"inject\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"Unsubscribe\",\n        \"props\": [\n            {\n                \"p\": \"timestamp\",\n                \"v\": \"\",\n                \"vt\": \"date\"\n            },\n            {\n                \"p\": \"action\",\n                \"v\": \"unsubscribe\",\n                \"vt\": \"str\"\n            }\n        ],\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"onceDelay\": 0.1,\n        \"topic\": \"\",\n        \"x\": 110,\n        \"y\": 140,\n        \"wires\": [\n            [\n                \"df1e1df4.4e814\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"b6585d2e.336df\",\n        \"type\": \"inject\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"Read\",\n        \"props\": [\n            {\n                \"p\": \"timestamp\",\n                \"v\": \"\",\n                \"vt\": \"date\"\n            },\n            {\n                \"p\": \"action\",\n                \"v\": \"read\",\n                \"vt\": \"str\"\n            }\n        ],\n        \"repeat\": \"\",\n        \"crontab\": \"\",\n        \"once\": false,\n        \"onceDelay\": 0.1,\n        \"topic\": \"\",\n        \"x\": 90,\n        \"y\": 60,\n        \"wires\": [\n            [\n                \"df1e1df4.4e814\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"4d7aea0d.579f54\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"WMZ_GWO85/XQ02 Durchfluss\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:WMZ_GWO85/XQ02.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 670,\n        \"y\": 980,\n        \"wires\": [\n            [\n                \"2f1052eb.dff21e\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"2f1052eb.dff21e\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 980,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"9aa2ee54.e3557\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"WMZ_GWO110/XQ04 Leistung\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:WMZ_GWO110/XQ04.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 670,\n        \"y\": 940,\n        \"wires\": [\n            [\n                \"82b2f345.83df9\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"82b2f345.83df9\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"subscribe\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": \"1\",\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 940,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"93219734.a87c48\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"WMZ_GWO85/XQ05 Vorlauftemp\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:WMZ_GWO85/XQ05.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 680,\n        \"y\": 1020,\n        \"wires\": [\n            [\n                \"d6234ce3.8ae68\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"34b20cf9.286144\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"WMZ_GWO85/XQ06 Rücklauftemp\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:WMZ_GWO85/XQ06.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 680,\n        \"y\": 1060,\n        \"wires\": [\n            [\n                \"f91e8c37.265c1\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"d6234ce3.8ae68\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 1020,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"f91e8c37.265c1\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 1060,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"54481e34.cb81d\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"BET_Durchfluss/XQ01 Durchfluss\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:BET_Durchfluss/XQ01.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 680,\n        \"y\": 1100,\n        \"wires\": [\n            [\n                \"c75cc3ae.bf82a\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"c75cc3ae.bf82a\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 1100,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"3c8cf64e.43579a\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"NDD07CT001 BET Rückl.Temp\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:NDD07CT001/XQ01.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 670,\n        \"y\": 1140,\n        \"wires\": [\n            [\n                \"5c8705e0.4f335c\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"5c8705e0.4f335c\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 1140,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"a03554e9.3e1918\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"NDD07CT004 BET Vorl.Temp\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:NDD07CT004/XQ01.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 670,\n        \"y\": 1180,\n        \"wires\": [\n            [\n                \"5502e254.bab55c\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"5502e254.bab55c\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 1180,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"56b0dbcd.8fc064\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAA09CT004/XQ01 Temp ThWa Vorl\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAA09CT004/XQ01.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 690,\n        \"y\": 1340,\n        \"wires\": [\n            [\n                \"1de736b0.c849d9\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"1de736b0.c849d9\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 1340,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"d42bd4d0.2c0da8\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAA09CF002/XQ01 Fluss ThWa Vorl\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAA09CF002/XQ01.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 690,\n        \"y\": 1380,\n        \"wires\": [\n            [\n                \"205b29f4.73a896\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"205b29f4.73a896\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 1380,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"91a7572d.cac6e8\",\n        \"type\": \"function\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"name\": \"HAB09CT001/XQ01 Temp ThWa Reinj\",\n        \"func\": \"msg.topic = \\\"ns=2;s=0:HAB09CT001/XQ01.PV#Value\\\";\\nreturn msg;\",\n        \"outputs\": 1,\n        \"noerr\": 0,\n        \"initialize\": \"\",\n        \"finalize\": \"\",\n        \"x\": 690,\n        \"y\": 1420,\n        \"wires\": [\n            [\n                \"1a889992.f2bf26\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"1a889992.f2bf26\",\n        \"type\": \"OpcUa-Client\",\n        \"z\": \"5a4bc84e.8c0ba8\",\n        \"d\": true,\n        \"endpoint\": \"1c92244f.472b1c\",\n        \"action\": \"read\",\n        \"deadbandtype\": \"a\",\n        \"deadbandvalue\": 1,\n        \"time\": 10,\n        \"timeUnit\": \"s\",\n        \"certificate\": \"n\",\n        \"localfile\": \"\",\n        \"localkeyfile\": \"\",\n        \"securitymode\": \"None\",\n        \"securitypolicy\": \"None\",\n        \"name\": \"\",\n        \"x\": 960,\n        \"y\": 1420,\n        \"wires\": [\n            [\n                \"3d91ec1a.8d05f4\"\n            ]\n        ]\n    },\n    {\n        \"id\": \"8bb75afe.196ef8\",\n        \"type\": \"influxdb\",\n        \"hostname\": \"influxdb\",\n        \"port\": \"8086\",\n        \"protocol\": \"http\",\n        \"database\": \"TK1BW\",\n        \"name\": \"\",\n        \"usetls\": false,\n        \"tls\": \"\",\n        \"influxdbVersion\": \"1.x\",\n        \"url\": \"http://influxdb:8086\",\n        \"rejectUnauthorized\": true\n    },\n    {\n        \"id\": \"1c92244f.472b1c\",\n        \"type\": \"OpcUa-Endpoint\",\n        \"endpoint\": \"opc.tcp://192.168.12.41:21381\",\n        \"secpol\": \"None\",\n        \"secmode\": \"None\",\n        \"login\": false\n    }\n]\n\n\n",
    "x": 140,
    "y": 500,
    "wires": []
  },
  {
    "id": "a466d66f.6d5778",
    "type": "influxdb out",
    "z": "bc561b1b.9eb418",
    "influxdb": "534caa07.6280a4",
    "name": "",
    "measurement": "",
    "precision": "",
    "retentionPolicy": "",
    "x": 1090,
    "y": 140,
    "wires": []
  },
  {
    "id": "7ad210f7.e4873",
    "type": "twilio out",
    "z": "bc561b1b.9eb418",
    "twilio": "b02f4749.ab9588",
    "twilioType": "sms",
    "url": "",
    "number": "+4915123579396",
    "name": "SMS Notification to Jan",
    "x": 1090,
    "y": 300,
    "wires": []
  },
  {
    "id": "84937a66.e83d78",
    "type": "mqtt-broker",
    "name": "HiveMQ",
    "broker": "broker.hivemq.com",
    "port": "1883",
    "clientid": "",
    "usetls": false,
    "compatmode": false,
    "keepalive": "60",
    "cleansession": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthPayload": "",
    "closeTopic": "",
    "closeQos": "0",
    "closePayload": "",
    "willTopic": "",
    "willQos": "0",
    "willPayload": ""
  },
  {
    "id": "534caa07.6280a4",
    "type": "influxdb",
    "z": "bc561b1b.9eb418",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "database": "mydb",
    "name": "",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "1.x"
  },
  {
    "id": "b02f4749.ab9588",
    "type": "twilio-api",
    "name": "Twilio API",
    "sid": "AC6b61dadd89e5b390cce32c4f06ce6e9e",
    "from": "+19549476183"
  }
]
